@{
    Layout = "_Layout";
    ViewData["Title"] = "AboutUs";
}

<body>
    <div id="wrapper">

        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="pageTitle">About Us</h2>
                    </div>
                </div>
            </div>
        </section>
        <section id="content">
            <div class="container">

                <div class="about">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="about-logo">
                                <h3>We are awesome <span class="color">TEAM</span></h3>
                                <p>ReFuel is a digital marketing agency. we help people to locate the Fuel stations near by and navigate easily and also helps entrepreneur in investing on new fuel stations and generate more profits. The agency prefers to use a simple and minimal design on their website.</p>
                            </div>
                            <a href="#" class="btn btn-color">Read more</a>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md-6">
                            <img src="img/section-image-1.png" alt="">
                            <div class="space"></div>
                        </div>
                        <div class="col-md-6">
                            <p>Our roots in search, diverse backgrounds and deep experience combine to give you all the skills it takes to create and rank content under one roof.</p>
                            <div class="block-heading-two">
                                <h3><span>Why Choose Us?</span></h3>
                            </div>
                            <p>Our team consists of experienced team members with work experience more than 2 years in Tata Consultancy Services. To eloborate more about  our team mates Amulya Geereddy has 2.5 years experince as Python Developer, Deepthi Reddy Duggampudi has 2.5 years experience as Devops Engineer ,Praneet Kolliboina has 2.5 years experience as Pega Developer. With the real time expierience and exposure for various aspects in the present technologies we form a strong team.</p>
                        </div>
                    </div>
                    <br />
                    <hr>
                    <br>
                    <div class="row">


                        <div class="col-md-6">
                            <div class="block-heading-two">
                                <h3><span>Our Expertise</span></h3>
                            </div>
                            <h6>Web Development</h6>
                            <div class="progress pb-sm">
                                <!-- White color (progress-bar-white) -->
                                <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                    <span class="sr-only">40% Complete (success)</span>
                                </div>
                            </div>
                            <h6>Designing</h6>
                            <div class="progress pb-sm">
                                <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    <span class="sr-only">40% Complete (success)</span>
                                </div>
                            </div>
                            <h6>User Experience</h6>
                            <div class="progress pb-sm">
                                <div class="progress-bar progress-bar-lblue" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    <span class="sr-only">40% Complete (success)</span>
                                </div>
                            </div>
                            <h6>Development</h6>
                            <div class="progress pb-sm">
                                <div class="progress-bar progress-bar-yellow" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                    <span class="sr-only">40% Complete (success)</span>
                                </div>
                            </div>
                        </div>

                    </div>


                    <hr>
                    <br>
                    <!-- Our Team starts -->
                    <!-- Heading -->
                    <div class="block-heading-six">
                        <h3 class="bg-color">Our Team</h3>
                    </div>
                    <br>

                    <!-- Our team starts -->

                    <div class="team-six">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <!-- Team Member -->
                                <div class="team-member">
                                    <!-- Image -->
                                    <img class="img-responsive" src="img/deepthi2pic.jpeg" width="500" height="600">
                                    <!-- Name -->
                                    <h4>Deepthi Reddy Duggampudi</h4>
                                    <!-- <span class="deg">Creative</span>  -->
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <!-- Team Member -->
                                <div class="team-member">
                                    <!-- Image -->
                                    <img class="img-responsive" src="img/praneetpic.jpeg" width="500" height="600">
                                    <!-- Name -->
                                    <h4>SaiPraneet Kolliboina</h4>
                                    <!-- <span class="deg">Programmer</span>  -->
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <!-- Team Member -->
                                <div class="team-member">
                                    <!-- Image -->
                                    <img class="img-responsive" src="img/amulyapic.jpeg" width="500" height="600">
                                    <!-- Name -->
                                    <h4>Amulya Geereddy</h4>
                                    <!-- <span class="deg">CEO</span>  -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Our team ends -->

                </div>

            </div>
        </section>
    </div>

</body>
