@{
    ViewData["Title"] = "Home";
}

<div id="wrapper">
   
    <section id="featured">

        <!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
                <li>
                    <img src="img/works/fs2.jpg" alt="" />
                    <div class="flex-caption">
                        <div class="item_introtext">
                            <strong>Ethanol Stations</strong>
                            <!-- <p>The best educational template</p> </div> -->
                        </div>
                        </div>
                </li>
                <li>
                    <img src="img/works/fs1.jpg" alt="" />
                    <div class="flex-caption">
                        <div class="item_introtext">
                            <strong>EV Stations</strong>
                            <!-- <p>Get all Search with on-line content</p> </div> -->
                        </div>
                    </div>
                </li>
                <li>
                    <img src="img/works/fs.jpg" alt="" />
                    <div class="flex-caption">
                        <div class="item_introtext">
                            <strong>Biodiesel Stations</strong>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- end slider -->

    </section>


</div>